/* 全体 */
@import "bootstrap/scss/bootstrap";

.base-container {
  margin: 0 auto;
  padding: 1rem;
}

/* max-width */ 

.mw-xl {
  max-width: 1200px;
}

.mw-md {
  max-width: 576px;
}


/* ログイン画面 */ 

h1.sign-in {
  text-align: center;
}

/* nav-itemの文字色 */
.navbar .navbar-nav .nav-link {
  color: #FFFFFF;
}

.navbar .navbar-brand {
  color: #FFFFFF;
}